.cursor {
  cursor: pointer;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


._feed_inner_text_area_box_form_full {
  width: 100%;
  position: relative;
}

._audience_container {
  position: relative;
  margin-bottom: 10px;
}

._audience_btn {
  background: #e9ecef;
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  cursor: pointer;
}

._audience_dropdown {
  position: absolute;
  top: 34px;
  left: 0;
  width: 140px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,.15);
  z-index: 20;
}

._audience_item {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

._audience_item:hover {
  background: #f5f5f5;
}

/* Image Preview Area (like Facebook) */
._image_preview_container {
  margin-top: 12px;
  position: relative;
  width: 100%;
  max-height: 320px;
  overflow: hidden;
  border-radius: 10px;
  background: #000;
}

._image_preview {
  width: 100%;
  object-fit: cover;
}

._image_remove_btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  font-size: 16px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}


/* ._feed_reaction_wrapper {
  position: relative;
} */

/* ._reaction_picker_fixed {
  position: absolute;
  top: -45px;   
  left: 0;      
  z-index: 9999;
  display: flex;
  background: #fff;
  padding: 6px 10px;
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  gap: 6px;
} */


/* ._reaction_picker_item {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
} */

._reaction_picker_item img {
  width: 36px;
  height: 36px;
  transition: transform 0.15s ease;
}

._reaction_picker_item:hover img {
  transform: scale(1.4);
}


._reaction_picker_fixed {
  position: absolute;
  bottom: 50%;   /* Attach directly to top edge of button */
  left: 60%;
  
  /* reduce padding so box is smaller */
  padding: 4px 8px;

  display: flex;
  gap: 4px;

  background: #fff;
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  z-index: 9999;
}


._reaction_picker_item {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}




._comment_details {
  margin: 0 0 10px !important;
  min-width: 220px !important;
}

._feed_inner_timeline_cooment_area {
  padding: 10px 5px !important;
}

._feed_inner_comment_box {
  margin: 15px 0 !important;
}

._comment_main {
  margin-bottom: 30px;
}